@media screen and (max-width: 940px) {
  body {
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('../img/background.jpg') repeat;
    min-height: 100%;
  }

  img {
    /*width: 30px;*/
    height: 100px;
    width: auto;
  }

  .actor-name {
    font-size: .5em;
  }

  .edit-button {
    font-size: .6em;
  }

  .search-input {
    width: 60%;
  }

  .actor-detail-image {
    height: 200px;
    margin-bottom: 30px;
  }
}