<div id='actor-list'>
  <div ng-hide='toggleEditForm'>
    <input ng-model='query' placeholder='Search Actors' class='search-input'>
    <img src="../img/loading.gif" class='loading-img' ng-show='showLoading'>
    <ul class='row actor-list'>
      <div class='split'>
        <li  class='col-md-3 col-xs-3' ng-repeat='actor in actors | filter: query | orderBy: orderProp'>
          <a href="/#/actors/{{actor.name}}" ng-click='save(actor.name)' class='actor-name'>
            <p class='actor-tag'>{{actor.name}}</p><br/>
            <img src="./img/{{actor.name}}.jpg" alt='{{actor.name}}'>
          </a><br/>
          <button ng-click='editActor(actor.name, actor.dateOfBirth, actor.sex, actor.rating, actor.lightSkinned, actor.about)' class='btn btn-default edit-button'>
            Edit Profile
          </button>
        </li>
      </div>
    </ul>
  </div>

  <div class='edit-form' ng-show='toggleEditForm'>
    <div>
      <form role='form'>
        <div class='form-group'>
          <label for='addName'>Name:</label>
          <input ng-model='name' type='text' class='form-control namebox' id='addName' ng-model='name'><br/>

          <h4 class='h4'>Date of Birth</h4>
          <label for='addDay'>Day</label>
          <select name="select" ng-model='day' class='form-control' id='addDay'>
            <option ng-repeat='day in days' value="{{day}}">{{day}}</option>
          </select><br/>

          <label for='addMonth'>Month</label>
          <select name="select" ng-model='month' class='form-control' id='addMonth'>
            <option ng-repeat='month in months' value="{{month}}">{{month}}</option>
          </select><br/>

          <label for='addYear'>Year</label>
          <select name="select" ng-model='year' class='form-control' id='addYear'>
            <option ng-repeat='year in years' value="{{year}}">{{year}}</option>
          </select><br/>

          <label for='addSex'>Sex</label>
          <select name="select" ng-model='sex' class='form-control' id='addSex'>
            <option value="male">male</option> 
            <option value="female">female</option>
          </select><br/>

          <label for='addRating'>Rating</label>
          <select name="select" ng-model='rating' class='form-control' id='addRating'>
            <option value="1">1</option> 
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select><br/>

          <input ng-model = 'lightSkinned' type = 'checkbox' value = 'large' id='skinColor'><label for='skinColor'>Light-Skinned</label><br/>

          <label for='addAbout'>About</label>
          <input ng-model = 'about' type = 'text' class='form-control' id='addAbout'><br/>
        </div>
      </form>  
      
      <form class='add-movies'>
        Press 'Enter' After Every Movie Input
        <input ng-model = 'movies' type ='text' class='form-control' placeholder='Add movies featured in'>
        <span><button ng-click='addMovies()' class='btn btn-primary add-movie-button'>Add Movie</button></span>
      </form>

      <button type='submit' ng-click='submitChanges(actor.name)' class='btn btn-default btn-success'>Submit Changes</button>

      <button class='btn btn-default btn-primary' ng-click='close()'>Close</button>  
    </div>
  </div>
</div> 